<% include ../partials/header %>
    
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1 class="page-header" style="font-size: 55px"> <i class="fas fa-book"></i> DA-IICT Blogger </h1>
                <p>Share your experiences and seek advice from your seniors</p>
                <a href="/blog/new" class="btn btn-primary btn-lg"> Create new Blog </a>
            </div>
        </header>
        
        <div class="list-group" style="overflow:hidden;">
            <% blog.forEach(function(blog){ %>
                <a href="/blog/<%=blog._id%>" type="button" class="list-group-item text-center"><%= blog.name %></a>    
            <% }) %>
        </div>
    </div>
    
    
<% include ../partials/footer %>