<footer>
    </div>
    <div class="footer">
        <p>© 2018 Copyright: DAIICT | Developed By: Minions</p>
    </div>
</footer>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</body>
</html>