<% include ../partials/header %>
    <div class="border1">
        <h1 style="text-align:center;">Ask a new question</h1>
        <form method="POST" action="/question">
            <div class="form-group form">
                <input class="form-control" type="text" name="name" placeholder=" Question title" required>    
            </div>

            <div class="form-group form">
                <input class="form-control" type="text" name="subject" placeholder="Subject">    
            </div>

            <div class="form-group form">
                <input class="form-control" type="text" name="image" placeholder="Image URL">    
            </div>
            
            <div class="form-group form">
                <input class="form-control" type="text" name="description" placeholder="Description">    
            </div>

            <div class="form-group form">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>    
            </div>            
        </form>

        <div class="form-group form">
            <a href="/question" class="btn btn-lg btn-default btn-block"> Go Back </a>
        </div>

    </div>
    
<% include ../partials/footer%>